<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-toastyplugin" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/AshwinKumaravel/CustomToastyPlugin.git</repo>
    <issue>https://github.com/AshwinKumaravel/CustomToastyPlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=7.0.0" />
    </engines>
  
    <js-module src="www/toastyplugin.js" name="toastyPlugin">
        <clobbers target="window.plugins.toastyPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="android-package" value="com.stanleyidesis.cordova.plugin.ToastyPlugin"/>
            </feature>
        </config-file>
		 <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.stanleyidesis.cordova.plugin.NewActivity"/>
    </config-file>

        <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
		<source-file src="src/android/CameraPermissionActivity.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
		<source-file src="src/android/NewActivity.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
		
		<framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <lib-file src="src/android/ScanditBarcodeCapture.aar"/>
		<lib-file src="src/android/ScanditCaptureCore.aar"/>	
		
		
		<source-file src="src/android/kotlin-stdlib-jdk7-1.3.61.jar" target-dir="libs"/>
		<source-file src="src/android/kotlin-stdlib-common-1.3.61.jar" target-dir="libs"/>
		<source-file src="src/android/kotlin-stdlib-1.3.61.jar" target-dir="libs"/>
		<source-file src="src/android/annotations-13.0.jar" target-dir="libs"/>
    </platform>
	
	   <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="ios-package" value="ToastyPlugin" />
            </feature>
        </config-file>
		  <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Required for Scanning</string>
        </config-file>
		
	
		
		
    <header-file src="src/ios/ToastyPlugin.h" />
    <source-file src="src/ios/ToastyPlugin.m" />
     
    </platform>
	
	
	
	
</plugin>